.result_table
{
	table-layout: fixed !IMPORTANT;
	width : 100% !IMPORTANT;
}

.even
{
	background: #DDD !IMPORTANT;
}

td
{
	vertical-align: middle !IMPORTANT;
	margin: auto ;
}

table.tbl td, table.tbl td a, span
{
	font-size: 16px !IMPORTANT;
}

.dse
{
	margin-left: 10px;
}