a{
	color:#17a2b8;
}
a:hover{
	color:#6c757d;
}
.search_spin{
	background-image:url(/laravel/public/spin_big.svg);
	background-position: 99% center;
	background-repeat: no-repeat;
}


.input-group-search{
	width:50%;
}
#accordion{
	margin-top:20px;
}
#templates_inventory{
	display:none;
}
#button_users{
	border-top:1px solid rgba(0,0,0,.15);
	border-bottom:1px solid rgba(0,0,0,.15);
}
#button_users:focus{
	box-shadow:none;
	border-top:1px solid #80bdff;
	border-bottom:1px solid #80bdff;
	border-left:1px solid #80bdff;
}
.border_button{
	border-top:1px solid rgba(0,0,0,.15);
	border-bottom:1px solid rgba(0,0,0,.15);
	border-left:1px solid rgba(0,0,0,.15);
	border-right:1px solid rgba(0,0,0,.15);
}

button{
	cursor:pointer;
}
button.add_cat{
	margin:20px 0 0 0;
}

label{
	white-space:nowrap;
}

.new_bg{background-color:#91b1db;}

.string.new_bg{font-size: 14px;}
.string.new_bg .order, .string.new_bg .inventory_number{cursor:pointer;}
.string.new_bg .order:hover, .string.new_bg .inventory_number:hover{text-decoration:underline ;}

.bg_string_light{background-color:#e7f3ff;}

.oi-sort-ascending, .oi-sort-descending{font-size:9px; color:#ffc107;}

.checkbox:hover{
	background-color:#f8f9fa;
}
.checkbox label{
	padding:2px 5px 0 5px;
}
.checkbox input[type="checkbox"]{
	margin:3px 5px 3px 0;
}
/* .table-bordered td{
	border-right:none;
}
.table-bordered thead tr th:nth-last-child(1), .table-bordered thead tr th:nth-last-child(2){
	border-left:none;
	border-right:none;
}
.table-bordered tbody tr td:nth-last-child(1){
	width:64px;
	padding:0;
	border-left:none;
}
.table-bordered tbody tr th:nth-child(1){
	width:32px;
	padding:0;
}
.table-bordered tbody tr td:nth-last-child(1) .btn-group{
	display:none;
	margin:0;
}
.table-bordered tbody tr:hover td:nth-last-child(1) .btn-group{
	display:inline-flex;
}
.table-bordered, .table-bordered thead, .table-bordered thead tr th:nth-child(1), .table-bordered thead tr th:nth-child(2), .table-bordered tbody tr th:nth-child(1), .table-bordered tbody tr td:nth-child(2){
	border-left:none;
	border-right:none;
} */

#table_structure .parent_html{
	height: 33px;
	/* max-height:100px; */
	font-size: 14px;
}
#table_structure .disable{
	height:1px;
}
#table_structure .btn-group{
	margin:0;
	display:none;
}
#table_structure .row>.col-sm-12>.parent_html:hover{
	background-color:#f8f9fa;
}
#table_structure .row:hover>:nth-child(5)>.btn-group{
	display:inline-flex;
}
#table_structure .row:hover>:nth-child(5){
	padding-right:0;
	padding-left:1px;
}

.sortable-placeholder{
	height:33px;
	width:100%;
	background-color:#cce5ff;
}


.body_table{
	margin-bottom:20px;
}
.body_table div{
	width:100%;
}
.body_table .parent{
	height:100%;
}

.body_table .ui-resizable-e{width:5px; right:-5px;}
.body_table .ui-resizable-s{height:7px; bottom:-5px;}
.body_table .ui-resizable-se{
	width:10px;
	height:10px;
}

/* .head_table { */
	/* border:none; */
/* } */
/* .head_table div{ */
	/* white-space:nowrap; */
	/* line-height:110%; */
/* } */

/* .head_table .parent, .head_table .child{ */
	/* height:100%; */
/* } */

/* .head_table div, .new_string div{ */
	/* width:100%; */
/* } */

.new_string input, .new_string textarea, .new_string select, .new_string form, .body_table input, .body_table textarea, .body_table select, .body_table form{
	height:100%;
}

.close{margin-right:10px;}


input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=file]::-webkit-file-upload-button{
	display:none;
}

input[type=file]{
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.inline_table{
	display:inline-table;
}

.flex_field{min-height:22px; white-space: pre-line; /* overflow:hidden; */}
.flex_field p{
	width:100%;
	height:100%;
	padding-top:1px;
	/* min-height:22px; */
	max-height:70px;
	
	/* margin-bottom:5px; */
	line-height:100%;
	overflow:hidden;
}
.flex_field textarea{
	overflow:hidden;
	resize:none;
	line-height:110%;
}
.flex_field>.btn-group{
	height:100%;
}
.flex_field>.btn-group>button{
	line-height:100%;
	width:100%;
	height:100%;
}
.flex_field>.btn-group>.btn-light{
	border-color:#80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	background-color:#fff;
	color:#212529;
}
.flex_field>.btn-group>.dropdown-menu{
	max-height:300px;
	overflow-y:auto;
	overflow-x:visible;
	z-index:1021;
}

.flex_conteiner{
	border:1px solid #e9ecef;
	border-right:none;
	border-bottom:none;
	text-align: center;
	/* min-height:26px; */
	line-height:100%;
}
.flex_conteiner p{
	margin-bottom:0;
	padding:0 2px 0 2px;
}

div.dropdown-menu{
	width:100%;
}
.dropdown-menu>button.dropdown-item{
	padding:2px 0 2px 5px;
	min-width:100%;
	white-space: pre-line;
}

button[data-selection]{
	white-space: pre-line;
}
.dropdown-menu b{
	cursor:pointer;
}
.card-body{
	padding:5px 0 0 10px;
}
.add_edit_delete{
	margin-top:3px;
	display:none;
}
.card-header:hover>.add_edit_delete{
	display:block;
}
.card-header:hover>h5 a{
	text-decoration:underline;
}
.list-group-item{
	padding:4px 0 4px 5px;
}
.list-group-item div.btn-group{
	position:absolute;
	right:1px;
	bottom:1px;
	display:none;
}
.list-group-item:hover div.btn-group{
	display:inline-flex;
}
.d_none{
	display:none;
}
.alert-primary{
	color:#000;
}