.my_pan
{
  padding: 5px 5px !IMPORTANT;
  height : 100%;
}

.my_pan p
{
  padding: 0 !IMPORTANT;
  margin: 0 !IMPORTANT;
}

h3
{
  padding: 5px 10px !IMPORTANT;
  margin: 0 !IMPORTANT;
}

.rdtbl
{
  width: 100% !IMPORTANT;
}

.hidden
{
  display : none ;
}

input.note_input, input.price_input
{
	width : 100%;
}

.tbl td.Field
{
	vertical-align: middle;
}
.bg-warning
{
	background: red ;
	color: white ;
}
button
{
  margin-bottom: 5px !IMPORTANT;
}

.ui-autocomplete 
{
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

img.del_sort
{
  cursor : pointer;
}

.AC
{
  margin : auto;
  padding: 0;
  text-align: center;
}

.create_dialog_span
{
  margin-bottom: 10px; 
}

#dialog_material, #dialog_sortament,#dialog_sortament_kind
{
  width : 100%;
  height : 20px;
}

#main_div
{
  text-align: right ;
}
.sort_select
{
  width: 100%;
}

.capt_div
{
  display: flex;
  justify-content : space-between;
  align-items : center;
}

.cent
{
  display: flex;
  justify-content : center;
  align-items : center;
}

.add_sort_img
{
  cursor: pointer;
  width:20px;
}

#add_material
{
    cursor: pointer;
}

#add_material:disabled, input:disabled
{
  cursor: not-allowed;
}

.expired
{
  background: #FFE4E1;
}

#accordion > h3.exp 
{
  display: block;
  position: relative;
}

#accordion > h3.exp:after
{
  content: "\2612"; 
  content: "\2690";  
  font-family: 'FontAwesome';
  position: absolute;
  right: 20px;
  color: red ;
}

#accordion > h3.upd
{
  display: block;
  position: relative;
}

#accordion > h3.upd:after
{
  content: "\2611"; 
  content: "\2691";     
  font-family: 'FontAwesome';
  position: absolute;
  right: 20px;
  color: green ;
}