.container
{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media (min-width: 1200px)
{
      .row
      {
        width:1500px;
      }
}

.col-lg-11, .col-lg-12
{
      text-align : right;
      margin-bottom:10px;
}

button, .printed, .add_pict_img, .view_pict_img, .del_img, .del_note
{
  cursor: pointer;
}

table td.AC div
{
  display: flex;
  justify-content: center;
}

.tbl td.AC
{
  vertical-align: middle ;
}

.mtz-monthpicker
{
  cursor : pointer !IMPORTANT;
}

#monthpicker
{
  width : 110px;
  cursor : pointer;
}

.mtz-monthpicker-year
{
  width : 50px;
}

#loadImg
{
  z-index: 100000  !IMPORTANT;
  position:fixed  !IMPORTANT;
  left:35%  !IMPORTANT;
  top:40% !IMPORTANT;
}

#find_input
{
  margin-right: 20px;
  text-align: left !IMPORTANT;
}

.found, .prfound
{
  font-size: 16px;
}

textarea
{
  width : 100%;
  height : 100%;
}

.input-group-prepend
{
  display: flex;
  align-items : center;
  margin-right: 10px;
  padding-left: 10px;
}

#receivers_select_from, #receivers_select_to
{
  height : 100%;
  width : 200px;
  overflow-y: auto;
}
.icon
{
  width: 20px;
  height: 20px;
}

#receivers_dialog div
{
  display: flex;
  justify-content : space-between;
}
#receivers_dialog div:nth-child(2)
{
  flex-direction : column;
  justify-content : center;
}

#receivers_dialog button
{
  margin : 5px 5px;
  cursor: pointer;
}

.receivers_dialog_title
{
  background: #008080;
  color: white;
}
.receivers_div
{
  display: flex;
  flex-direction : column ;
}

span.receivers, a.receivers
{
  font-weight : bold;
}

.executed
{
  background: #8FBC8F !IMPORTANT;
}

.even
{
   background: #ddd; 
}