	body {
		margin:0;
		font-family:'Open Sans';
		padding:0;
	}
	table { 
		width:192px;
		height:95px;
		color: rgb(237,28,36);
		background-color: black;
	}
	table, th, td {
		text-align:center;
		margin:0;
		padding:0;
		border: 1px solid #7AB1E8;
		vertical-align:middle;
	}
	tr {
		font-size: 45px;
		font-weight:bold; 
		letter-spacing:0px;
	}
	
	tr:first-child {
		font-size: 14px;
		height:18px;
		line-height:18px;
		font-weight:bold;
		letter-spacing:0;
	}
	small {
		font-size:12px;
	}
	.line {
		width:auto;height:2px;border:0px solid red;
	}
	.plan {
		font-size:24px;line-height:34px;
	}