*
    {
      font-size: 10px;
    }

.head
{
  margin-bottom:20px;
}

.container
{
  margin-left: 0px !important;
  padding-right: 120px !important;
}

#month_table
{
  width: 1000px;
}

#month_table td.tbl_head
{
  padding: 5px 0 !IMPORTANT;
  background: #eee !IMPORTANT;
}

 #month_table td.AL
{
  vertical-align : middle !IMPORTANT;
  text-align : left !IMPORTANT;
  padding-left: 10px;
  margin: auto ;
}

 #month_table td.AC
{
  vertical-align : middle !IMPORTANT;
  text-align : center !IMPORTANT;
  padding: 2px 0 2px 0 !IMPORTANT;
  margin: auto !IMPORTANT;
}

td.multi
{

/*
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, gray 55%, gray 5%, rgba(0, 0, 0, 0) 60%) fixed,
              linear-gradient(135deg, gray 5%, rgba(0, 0, 0, 0) 10%) fixed;
  background-size: 0.25em 0.25em ;
*/

/*
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 45%, black 55%, black 5%, rgba(0, 0, 0, 0) 60%) fixed,
              linear-gradient(135deg, black 5%, rgba(0, 0, 0, 0) 10%) fixed;
  background-size: 0.5em 0.5em ;
*/

    background-color: #ddd !IMPORTANT;

}

h2
{
  text-align: center !IMPORTANT;
  margin-left: -50px !IMPORTANT;
  margin-top: 20px !IMPORTANT;
}

.sign
{
  margin-top : 20px;
}

.sign span
{
  font-size: 12px !IMPORTANT;
}

#month_table tr.first td
{
  background: #eee !IMPORTANT;
}


* { -webkit-print-color-adjust: exact; } 
