.container
{
  width : 95% !IMPORTANT;
}
.container table
{
  background: #FFF;
}

/*#semifin_inv_create
{
  table-layout: fixed;
  width:95%;
}
*/
.container table td, .container table span
{
  font-size:16px !IMPORTANT;
  padding: 2px 5px !IMPORTANT;
  text-align: center;
}

.container table td *
{
  margin: 0 0;
}

.container table td.AL
{
  vertical-align: middle !IMPORTANT;
  text-align: left;
}

.container table td div.warehouse
{
  display: flex;
  justify-content : center ;
}

.container table td div.warehouse div
{
  font-size : 16px !IMPORTANT;
}

.container table th
{
  font-size : 12px !IMPORTANT;
}

.wh_select, .cell_select, .tier_select, .op_select
{
  border-radius: 4px; 
}

.wh_select
{
  width : 120px;  

}

.count, .issued_count, .accepted_empty
{
  width : 50px;  
}

.cell_select
{
  width : 120px;  
}

.tier_select
{
  width : 60px; 
}

.operation_select
{
  width : 250px !IMPORTANT;
}

.part_num
{
  width : 100px !IMPORTANT;  
}

.op_select, select.master_select
{
  width : 150px !IMPORTANT;
}

.order_row .op_select
{
 width : 100% !IMPORTANT; 
}

.operation_select option, .master_select option
{
    font-size:16px !IMPORTANT;
}

.AL div
{
  display: flex;
  align-items : center;
  justify-content: space-between;
}

.AL div span
{
  font-weight: bold;
}

.AC
{
  text-align: center !important;
  vertical-align: middle !important;
}

#year-select
{
  font-size: 16pt;
  width : 80px;
}

#year-select option
{
  font-size: 16pt;
}

#inv-num-select
{
  font-size: 16pt;
  width : 200px;
}

#inv-num-select option
{
  font-size: 16pt;
}


.form-span
{
  font-size: 14pt;
  padding-right: 10px;
}

.storage_time
{
  width: 100%;
  height:30px;
  font-size: 14pt;
}

.storage_time option
{
  font-size: 14pt;
}


table td
{
  vertical-align: middle !IMPORTANT;
}

#save
{
  margin-left:20px;
}

#add_dse
{
  margin-bottom : 10px;
}

select
{
  height : 25px;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete 
{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  width:300px;
}

.ui-autocomplete *
{
  font-size:12pt !IMPORTANT;
}

.accepted-by-QCD
{
  width:100% !IMPORTANT;
}

select:disabled
{
  background: #eee !IMPORTANT;
}

.storage_place_dialog_title/*, .ui-dialog-titlebar*/
{
  background: #008080;
  color: white;
}

.storage_place_table, .storage_place_table select
{
  table-layout: fixed;
  width: 100%;
}

#storage_place_dialog input, #accept_by_QCD_dialog input
{
  width: 100%;
}


a.storage_place_button, a.accepted_by_QCD_a
{
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#vpdiv, table.view
{
  width : 100% !IMPORTANT;
  overflow-x: hidden !IMPORTANT;
}
.note
{
  width: 100%;
}
.host_master_ack
{
  cursor: pointer;
}

.container table span.host_master_span, .container table span.host_master_ack_datetime
{
   font-size:12px !IMPORTANT; 
}

 tr.order_row .accepted-by-qcd, tr.order_row .accepted-by-qcd-count
 {
    font-size: 12px !IMPORTANT; 
 }
table.table-striped tr.not_completely
{
  background:  #FFE4E1 !IMPORTANT;
}
