
/*{
	font-size : 16px !IMPORTANT;  
}
*/
/*h2
{
	font-size: 32px !IMPORTANT;
}
*/
.container
{
  min-width : 95% !IMPORTANT;
}

.semifin_invoices
{
	table-layout: fixed;
	background: #FFF;
  	width : 100%;
  	margin-bottom: 0 ;
}


td.AC, .table th
{
	text-align: center !IMPORTANT;
	vertical-align: middle !IMPORTANT;
}

td.AL
{
	text-align: left !IMPORTANT;
	vertical-align: middle;
}

tr
{
	background: #FFF;
}

.offset-sm-11
{
	margin-bottom : 10px;
}

.col-sm-1
{
	padding-right: 0px !IMPORTANT;
}

input.dse_name_input, table.reserve input.give_out_input
{
	width: 100% !IMPORTANT;
	background: white;
}

input.res_count_input
{
	width: 30px !IMPORTANT;
	background: white;	
}

.error
{
	background: red !IMPORTANT;
}

button.disabled
{
	cursor : default !IMPORTANT;
}

span.line
{
	margin : 0;
	padding : 0;
}
.ui-button-icon-primary
{
	margin:auto !IMPORTANT;
}

a.res_count, a.issued_count, span.issued
{
	font-weight: bold;
}

#issue_history_dialog h3
{
	margin: 10px auto;
	text-align: center;
}

#vpdiv, table.view
{
  width : 100% !IMPORTANT;
  overflow-x: hidden !IMPORTANT;
}

a.invoice_a
{
	font-weight: bold;
	color: blue !IMPORTANT;
}

.not_completed
{
	background-color: #FAEBD7 !IMPORTANT;
}

.hidden
{
	display: none;
}

.semifin_invoices .btn
{
	margin-top : 5px;
}
