.container
{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media (min-width: 1200px)
{
      .row
      {
        width:1500px;
      }
}

.input-group
{
	margin : 0 20px 0 0;
}

select
{
	width: 200px;
	margin-left: 10px;
}
.head
{
	margin-bottom: 20px;
}

.label
{
   width: 180px;
   text-align: right;
}