    *
    {
      font-size: 10px;
    }
    .border
    {
      border-top : 1px solid black;
      border-right : 1px solid black;
      font-size: 10px;
      text-align: center;
      padding: 0;
    }

    .b-border
    {
      border-bottom : 1px solid black;
    }

    .l-border
    {
      border-left : 1px solid black;
    }


.bold
    {
      font-weight: bold;
      padding-right:20px;
    }

.italic
    {
      font-style: italic;
      padding-right:20px;
    }



.table_head > div, .footer > div, .note-table-head > div, .note-table > div
{
  height : 30px;
  vertical-align: middle;
  display:flex;
  flex-direction : column;
  align-items : center;
  justify-content: center;
}

.note-table-head > div
{
  font-weight : bold ;
  height : 20px;
}



.note-table > div
{
  height : 20px;
  padding-left: 5px;
  align-items : flex-start;
  font-style: italic;
}

.AC
{
  text-align: center !important;
  vertical-align: middle !important;
}
select
{
  height: 20px !important;
  width: 130px;
}

.invoice-number
{
  margin : 5px 0;
}
h4
{
 margin : 5px 0;
}
#inv_num
{
  width : 40px;
}
.AL
{
  text-align: left;
  padding-left: 5px;
}
.sign
 {
  padding-top : 0px !important;
  padding-bottom : 0px !important;
  margin-top : 0px !important;
  margin-bottom : 0px !important;
  height: 10px !important;
 }

.delimiter
{
    height: 40px !important;
}

.inv_num, .sign span, .row
{
  font-size: 12px   !important;
}

.form-span
{
  font-size: 10pt;
  padding-right: 10px;
}
#year-select
{
  font-size: 10pt;
  width : 60px;
}

#inv-num-select
{
  font-size: 10pt;
  width : 120px;
}

tr.success td div
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr.success td span
{
  font-weight: bold;
}

