.head
{
    display: flex;
    flex-direction : row;
    justify-content:space-between;
    width: 100%;
}

.head div
{
     flex-direction : column;
     width:80%;
}

.head div div
{
     width:100%;
}


.container
{
  width: 1200px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

img.chart
{
  float : right;
}

.container h2
{
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.container span.label
{
  font-size: 14px;
  font-weight: bold;
  margin-right:10px;
}

#datepicker
{
    font-size: 14px;
    width: 100px;
    text-align: center;
}

#ord_table
{
  width: 100%;
  table-layout: fixed;
  margin-top: -120px;
}

td
{
  vertical-align: middle !important;
}

td.slider div
{
  display: inline-flex;
  width:100%;
}

td.slider div div:first-child
{
  width:280px;
  margin: 0 5px;
}

td.slider div div:first-child div
{
  margin: 0 ;
}


td.slider div div:last-child
{
  width: auto;
  padding: 0 0;
  margin: 0 0 !important;
}

td.slider div div:last-child input
{
  padding : 0;
  margin-left : 10px;
  border : 0;
  width : 20px;
}

.ui-slider-range-min
{
  background:   #5F9EA0 !important;
}

 td.spinner input
 {
      width: 100%;
 }

td.name
{
    border-right: 0px solid red !important;
}

td.legend
 {
    padding: 2px 2px !important;
    border-left: 0px solid #eee !important;
 }

#ord_table .first
{
  height:10px !IMPORTANT;
}

tr.first td.legend div
{
  /*border: 1px solid #ddd ;*/
}

 .legend div
 {
  height: 20px !important;
  width: 20px !important;
  border-radius: 3px !important;
  margin: auto !important;
 }

#monthpicker, #employee
{
  width : 120px;
}

#department
{
  width : 260px;
}

.hidden
{
    display: none;
 }
 .ui-datepicker-header
 {
  background:   #5F9EA0 !important;
 }
.ui-state-active
{
  background:   #98b8e2 !important;
}

 .mtz-monthpicker
 {
    cursor : pointer !important;
 }

 .work_cal_view_setup
 {
  padding-bottom: 10px;
 }
 .hours
 {
    background:   #98b8e2 !important;
 }

 td.AL
{
  vertical-align : middle !IMPORTANT;
  text-align : left !IMPORTANT;
  margin: auto ;
}

 #ord_table td.AC
{
  vertical-align : middle !IMPORTANT;
  text-align : center !IMPORTANT;
  padding: 0 !IMPORTANT;
  margin: auto !IMPORTANT;
}

 .proj_row
{
    background:   #8FBC8F !important;
}

.zak_row
{
    background:   #B0C4DE !important;
}
.unlinked_row
{
    background:   #D8BFD8 !important;
}


img.coll_exp
{
  margin : auto 0 !important;
  padding-right: 5px ;
  cursor  :   pointer;
/*  height: 100%; */
}

 td.AL div
 {
    display: flex;
    flex-direction : row;
 }

 #pie_div
 {
    min-width: 310px;
    height: 400px;
    width: 500px;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    margin-top: -30px;
    justify-content : flex-end;
 }

 .highcharts-title
{
    fill: #434348;
    font-weight: bold;
    font-size: 30em !important;
}

.highcharts-subtitle
{
    font-family: 'Courier New', monospace;
    font-style: italic;
    fill: #7cb5ec;
}
.cal_date
{
  cursor: pointer ;
}
.cal_date a
{
  padding: 0 ;
  margin: 0 ;
  width : 100%;
  height : 100%;
}

tr.item_row > td
{
  padding-left: 20px;
}

tr.total
{
  background-color: #F0E68C7F;
}

#loadImg
{
  position:absolute;
  z-index:100000;
  display:none ;
  width:200px;
}
.sect_row
{
  background: #98b8e2;
}